<header class="header" id="top">
<div class="vertical-center container">
    <div class="row">
       <div class="col-sm-1">
       </div>
    <div class="col-sm-10">
        <div class="container2">ABOUT</div>
		<p>Put your money where your charity is!
        </p>
        <p> Dare Town is a platform that allows you as a sponsor to dare others to do good or to simply do something fun! The idea behind this is that these dares will be backed by charitable patrons spanning from individuals in your community and to large corporations who will complete a donation if a dare is completed.</p>
        <p> We look for challeges that will push people to improve their communities and themselves. In any case, whether you're a sponsor or player, you're going to do good, so complete those dares and see how you stack up in the leaderboards. </p>
    </div>

</div>
</div>
</header>
</header>

<style>
header {
    background-image: url("../img/bg.jpg");
}
</style>
