<header class="header" id="top">
<br/><br/>
    <div class="row">
    			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form action="/create/post" method="POST">
					<div action="" class="form-group">
					<input type="hidden" class="form-control" name="id" id="sponsorid">
						<label for="title">Title:</label>
						<input placeholder="Post Title" type="text" class="form-control" name="title">
						<br />

						<label for="body">Body:</label>
						<textarea placeholder="Post Body" class="form-control" rows="10" name="text"></textarea>

						<label for="body">Points:</label>
						<textarea placeholder="Points" class="form-control" rows="1" name="points"></textarea>

						<label for="body">Category:</label>
						<textarea placeholder="Category" class="form-control" rows="1" name="category"></textarea>

						<br />
						<button type="submit" class="btn btn-dark btn-lg js-scroll-trigger submit" id="addpost">Add Post</button>
					</div>
				</form>
			</div>
			    			<div class="col-md-2"></div>
		</div>
</header>

<script>
$(document).ready(function() {
	$("#sponsorid").attr("value", localStorage.sponsorId);
});
</script>