<header class="header" id="top">
<div class="vertical-center container">
    <div class="row">
       <div class="col-sm-1">
       </div>
    <div class="col-sm-10">
        <<div class="container2">FAQs</div>
        <p><u>So how did you come up with this app?</u>
        <br/>
        Contrary to popular belief, we did not have any about the about movie "NERVE". Yes, the concept is similiar to Dare Town. However, rather than monentary transactions, we have sponsors to donate to charity and implemented a point system to encorage players to perform tasks. Perhaps in the future, these points will be tradable for avatars, currency, etc.</p>

        <p><u>What happens if I, as a player, get hurt while attempting a dare?</u>
        <br/>
        We assume zero responsibility for any actions performed. Our app is intended for all in good fun, so try to stay safe</p>

        <p><u>How do I know that a sponsor submitted a donation to the charity they listed after I complete a dare?</u>
        <br/>
        Currently, our community is run on an honor basis. We have yet to implement a proof system and donation verification protocol</p>

        <p><u>Hey, I noticed that I can post any kind of dare I want as a sponsor? What if I wanted to "dare" someone to transport some drugs for me?</u>
        <br/>
        We thought about shady characters like you, so we have moderators and admins that will filter posts for criminal activity.</p>
    </div>

</div>
</div>
</header>

<style>
header {
    background-image: url("../img/bg.jpg");
}
</style>