<header class="header" id="top">
        <div class="text-vertical-center">
            <h1>DARITY</h1>
            <a href="/portal" class="btn btn-dark btn-med js-scroll-trigger">Try it Out!</a>
        </div>
    </header>