<header class="header" id="top">
    <div class="text-vertical-center">
        <div class="container2">LEADERBOARD</div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 90%">
                <div class="card-block">
                    <h4 class="card-title"><u>Top Sponsors</u></h4>
                    <p class="card-text">
                        <ol>
                            {{#each sponsors}}
                            <li>Name: {{name}}
                                <br/> Points: {{points}}</li>
                            {{/each}}
                        </ol>
                    </p>
                    <button id="makeDares" class="btn btn-primary">Make Dares</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 90%">
                <div class="card-block">
                    <h4 class="card-title"><u>Top Players</u></h4>
                    <p class="card-text">
                        <ol>
                            {{#each players}}
                            <li>Name: {{name}}
                                <br/> Points: {{points}}</li>
                            {{/each}}
                        </ol>
                    </p>
                    <button id="viewDares" class="btn btn-primary">View Dares</button>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
$("#makeDares").on("click", function() {
  if (!localStorage.getItem("sponsorId")) {
    window.location.href = "/login";
    }
    else {
        window.location.href = "/sponsors"
    }
});

$("#viewDares").on("click", function() {
    if (!localStorage.getItem("playerId")) {
    window.location.href = "/login2"
    }
    else {
        window.location.href = "/players"
    }
})
</script>
<style>
.card {
    opacity: .88;

}

header {
    background-image: url("../img/bg.jpg");
}

h1 {
    color: white;
}

table {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    text-align: left;
    color: white;
    position: static;
    margin: auto;
    margin: 50px;
}
</style>