<header class="header" id="top">
    <div class="text-vertical-center">
        <h2>LEADERBOARD</h2>
    </div>
</header>

<div class="container">
<div class="row">
	<div id="sponsors" class="col-sm-6" >
	<ol>
	{{#each sponsors}}
		<li>Name: {{name}}<br/>
		Points: {{points}}</li>
	{{/each}}
	</ol>
	</div>

	<div id="players" class="col-sm-6" >
	<ol>
	{{#each players}}
		<li>Name: {{name}}<br/>
		Points: {{points}}</li>
	{{/each}}
	</ol>
	</div>
</div>
</div>

<script>
$(document).ready(function() {
	$.get("/api/sponsors", function(event) {
		console.log(event);
		var content = event.substring(event.indexOf("<div id='sponsors'"), event.indexOf("</header>"));
		$(".header").append(content);
	});

	$.get("/api/players", function(event) {
		console.log(event);
		var content = event.substring(event.indexOf("<div id='players'"), event.indexOf("</header>"));
		$(".header").append(content);
	});
});
</script>

<style>
ol {
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	text-align: left;
	color: white;
	position: static;
}
</style>

  