<header class="header" id="top">
    <div class="text-vertical-center">
        <div class="container2">LEADERBOARD</div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div id="sponsors" class="col-sm-6" >
			<table>
			{{#each sponsors}}
				<tr>
					<td>Username: {{name}}</td>
					<td>Points: {{points}}</td>
				</tr>
			{{/each}}
			</table>
		</div>

		<div id="players" class="col-sm-6" >
			<table>
			{{#each players}}
				<tr>
					<td>Username: {{name}}</td>
					<td>Points: {{points}}</td>
				</tr>
			{{/each}}
			</table>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$.get("/api/sponsors", function(event) {
		console.log(event);
		var content = event.substring(event.indexOf("<div id='sponsors'"), event.indexOf("</header>"));
		$(".body").append(content);
	});

	$.get("/api/players", function(event) {
		console.log(event);
		var content = event.substring(event.indexOf("<div id='players'"), event.indexOf("</header>"));
		$(".header").append(content);
	});
});
</script>

<style>
header {
    background-image: url("../img/leaderboards.png")
}

h1 {
	color: white;
}
table {
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	text-align: left;
	color: white;
	position: static;
	margin: auto;
	margin: 50px;
}
</style>

  