<header class="header" id="top">
    <div class="text-vertical-center">
        <div class="container2">LEADERBOARD</div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 90%">
                <img class="card-img-top" src="https://i.giphy.com/media/LCdPNT81vlv3y/200_s.gif" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Top Sponsors</h4>
                    <p class="card-text">
                        <ol>
                            {{#each sponsors}}
                            <li>Name: {{name}}
                                <br/> Points: {{points}}</li>
                            {{/each}}
                        </ol>
                    </p>
                    <a href="./sponsors" class="btn btn-primary">Make Dares</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 90%">
                <img class="card-img-top" src="http://cdn-static.denofgeek.com/sites/denofgeek/files/7/79//daredevil_comics.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Top Players</h4>
                    <p class="card-text">
                        <ol>
                            {{#each players}}
                            <li>Name: {{name}}
                                <br/> Points: {{points}}</li>
                            {{/each}}
                        </ol>
                    </p>
                    <a href="./players" class="btn btn-primary">View Dares</a>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
header {
    background-image: url("../img/leaderboards.png")
}

h1 {
    color: white;
}

table {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    text-align: left;
    color: white;
    position: static;
    margin: auto;
    margin: 50px;
}
</style>