<header class="header" id="top">
<div class="vertical-center container">

<div class="container2">SPONSOR LOGIN</div>

  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-4">
      <form>
        <div id="signupbox" class="container">
          <h1> Sign Up! </h1>
          <label><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="name" id="name">
            <br>
            <label><b>Password: </b></label>
          <input type="password" placeholder="Enter Email" name="email" id="email">
            <br>
          <button class="button" type="submit" id="signup">Sign Up</button>
              <div class="container" style="background-color:f1f1f1">
            </div>
          </div>
        </form>
      </div>
    <div class="col-sm-2">
    </div>
    <div class="col-xs-4">
      <form>
        <div id="loginbox" class="container">
          <h1> Log In! </h1>
          <label><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="loginname" id="loginname">
              <br>
            <label><b>Password: </b></label>
          <input type="password" placeholder="Enter Email" name="loginemail" id="loginemail">
              <br>
          <button class="button" type="submit" id="login">Login</button>
              <br>
              <div class="container" style="background-color:f1f1f1">
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</header>

<script>
  $("#signup").on("click", signUp);

  function signUp(event) {
    event.preventDefault();
      var obj = {
        name: $("#name").val().trim(),
        email: $("#email").val().trim()
      }

  if (obj.email.length < 5) {
    alert("Password must be at least 5 characters long!")
  }

  else {
    if (obj.name.length < 5) {
      alert("Name must be at least 5 characters long!")
    }

    else {
    $.post("/newsponsor", obj, function(res) {
      if (res === "invalid") {
        alert("Username has already existed. Please try another one.");
        window.location.href = "/login";
      }
      else{
        localStorage.setItem("sponsorId", res.id);
        console.log(res.id);
        window.location.href = "/sponsors"
      }
    })
    $("#name").val("");
    $("#email").val("");
  }}
  }; 

  $("#login").on("click", loginfunction);

  function loginfunction(event) {
    event.preventDefault();
    var obj = {
      name: $("#loginname").val().trim(),
      email: $("#loginemail").val().trim()
    }
  $.post("/sponsor-login", obj, function(res) {
    if (res === "invalid") {
      alert("Invalid username or password. Please try again or sign-up.");
      window.location.href = "/login2"
    }
    else {
      localStorage.setItem("sponsorId", res.id);
      console.log(res.id)
      window.location.href = "/sponsors"
    }
    });
  };

</script>

<style>

#title1 {
  font-size: 70px;
  text-align: left;
}
input {
  border-radius: 3px;
}


.row {
  margin: auto;
  
}


.button {
  border-radius: 8px;
  background-color: white;
  border-style: solid;
  border-color: grey;
}

#signupbox, #loginbox {
  border-style: solid;
  border-color: white;
  text-align: right;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  position: relative;
  float: right;
  width: 300px;
}
</style>