<header class="header" id="top">
<div class="vertical-center container">
  <form action="/newsponsor" method="POST">
    <div class="container">
      <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>

        <label><b>Email</b></label>
      <input type="password" placeholder="Enter Email" name="email" required>

      <button type="submit" id="signup">Sign Up</button>
          <input type="checkbox" checked="checked"> Remember me

          <div class="container" style="background-color:f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">Email?</a></span>
        </div>
      </div>

  <form action="/sponsor-login" method="POST">
    <div class="container">
      <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>

        <label><b>Email</b></label>
      <input type="password" placeholder="Enter Email" name="email" required>

      <button type="submit">Login</button>
          <input type="checkbox" checked="checked"> Remember me

          <div class="container" style="background-color:f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">Email?</a></span>
        </div>
      </div>
    </div>
    

  </form>
</header>
