<header class="header" id="top">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-2">
    			</div>
    			<div class="col-lg-5">
			        <a href="./login" class="btn btn-dark btn-lg js-scroll-trigger" id="sponsors">Sponsors</a>
			    </div>
			    <div class="col-lg-5">
			        <a href="./login2" class="btn btn-dark btn-lg js-scroll-trigger" id="players">Players</a>
			    </div>
			</div>
		</div>
</header>

<script>
	console.log($(".container").css("width"))
</script>

<style>
#sponsors, #players {
	margin: 50% auto;
	padding: 80px;
}
</style>