<header class="header" id="top">
    <div class="text-vertical-center">
        <a href="./sponsors" class="btn btn-dark btn-lg js-scroll-trigger">Sponsors</a>
        <a href="./players" class="btn btn-dark btn-lg js-scroll-trigger">Players</a>
    </div>
</header>