<header class="header" id="top">
	<div class="text-vertical-center row">

	<div class="col-sm-6">
        <div class="container2">SPONSOR</div>
		<a href="/create"><button class="createpost">New Post +</button></a>

<br/>
<div class="row">
	<div id="posts" class="col-sm-9 handleposts" style="overflow: auto; max-height: 70%">
	{{#each posts}}
	<form action="/sponsors/edit/{{id}}" method="POST">
		<ul id="singlepost" class="singlepost" style="list-style: none; text-align: center">
		<li><h2><u>{{title}}</u></h2></li>
		<li>{{text}}</li>
		<li>Reward: {{points}}</li>
		<li><button type="submit">Edit</button></li>
		</ul>
	</form>
	{{/each}}
	</div>
</div>

</div>
</header>

<script>
$(document).ready(function() {
	$.post("/sponsors", {id: localStorage.sponsorId}, function(event) {
		var content = event.substring(event.indexOf("<div id="), event.indexOf("</header>"));
		$(".header").append(content);
	});
});
</script>

<style>
header {
    background-image: url("../img/listodopost.jpg")
}

#title1 {
	text-align: center;
}

.singlepost {
	border-color: white;
	border-width: 2px;
	border-style: solid;
}
#singlepost {
	padding: 30px;
	border-radius: 4px;
}

#posts {
	background-color: black;
	opacity: .77;
	padding: 20px;
	margin: 3px;
	color: white;
	position: fixed;
	left: 8.33%;
	border-radius: 10px;
	border-radius: 6px;
}

.createpost {
  	left: 86%;
    position: fixed;
    padding: 10px;
    font-size: 20px;
    font: bold;
}
</style>